[submodule "blog/themes/LoveIt"]
	path = blog/themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "starter-academic"]
	path = starter-academic
	url = https://github.com/wowchemy/starter-academic.git
